<div id="publics">
  <h2>public lists</h2>
  <ul class="list">
    <% @lists.each do |list| %>
      <li><%= link_to "#{list.name} (#{list.user.name})", list_path(list) %></li>
    <% end  %>
  </ul>
</div>