<div id="show_list">
  <div>
    <h2><%= @list.name %></h2>
    <% if current_user.following.exists? @list %>
    <span><%= link_to 'unfollow this list', unfollow_list_url(:id => @list.id) %></span>
    <% else %>
    <span><%= link_to 'follow this list', follow_list_url(:id => @list.id) %></span>
    <% end %>
  </div>
  
  <ul class="list">
    <% @list.items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  </ul>
</div>